.o64aR, ._3Laht {
    background-color: #333333 !important;
}
._lz6s {
    background-color: #333333 !important;
}
.Di7vw {
    background: #4A4A4A !important;
}
.x3qfX {
    background: #251E2A !important;
}
.XTCLo {
    color: white !important;
}
.drKGC {
    background: #202021 !important;
}
.JvDyy {
    background: #333333 !important;
}
.uyeeR {
    color: white !important;
}
.Fy4o8 {
    color: #DBDBDB !important;
}
.zwlfE {
    color: white !important;
}
.KV-D4 {
    color: #C1C1C1 !important;
}
._8A5w5, a._8A5w5, a._8A5w5:visited {
    background-color: transparent !important;
    color: white !important;
}
.pbNvD {
    background-color: #202020 !important;
}
.HoLwm {
    color: white !important;
}
.g47SY {
    color: #999999 !important;
}
body, button, input, textarea {
    color: #D5D5D5 !important;
}
a.T-jvg, a.T-jvg:visited {
    color: wheat !important;
}
.T-jvg {
    border-top: 1px solid #509DDB !important;
}