html[dir] ._2nmDZ {
    background-color: #1F1F20 !important;
}
html[dir] ._1GX8_ {
    background-color: #1F1F20 !important;
}
html[dir] ._2y17h {
    background-color: #232D36 !important;
}
._3XrHh {
    color: white !important;
}
.Gd51Q._3sgkv {
    color: white !important;
}
html[dir] ._2tW_W {
    background-color: transparent !important;
}
html[dir] ._3pkkz {
    background-color: transparent !important;
}
._1x_c3 {
    color: #A2A7AB !important;
}
html[dir] ._1Plpp {
    background-color: #2D383E !important;
    border-color: #2D383E !important;
}
._2SbJ1 {
    color: white !important;
}
html[dir] ._3auIg {
    background-color: #1E1E1E !important;
}
html[dir] ._1WliW {
    background-color: #1E1E1E !important;
}
.ba6sz {
    color: white !important;
}
html[dir] .rRAIq {
    background-color: #1E1E1E !important;
}
html[dir] ._2MSJr {
    background-color: dimgray !important;
}
html[dir] ._2EXPL {
    background-color: #101D25 !important;
}
._25Ooe {
    color: #DBEAEB !important;
}
._3Bxar {
    color: #8C979D !important;
}
._1AwDx {
    color: #8C979D !important;
}
html[dir] .message-in .MVjBr {
    background-color: #101D25 !important;
}
html[dir] ._1sGGp._2nFG1 {
    background-color: #043D36 !important;
}
._3zVOv {
    color: white !important;
}
._3QqKs {
    color: #858A92 !important;
}
._16y6t {
    color: #858A92 !important;
}
._3_7SH {
    color: white !important;
}
html[dir] ._2pvbg.D4OT6 {
    background-color: #1E272E !important;
}
._2a30d {
    color: white !important;
}
.vFSKE {
    color: #858A92 !important;
}
._37Q6_ {
    color: #858A92 !important;
}
html[dir] .message-out .MVjBr {
    background-color: #054640 !important;
}
html[dir] .message-out ._1iJeo {
    background-color: #043D36 !important;
}
.Y9G3K {
    color: #6D908C !important;
}
html[dir] .message-in ._1iJeo {
    background-color: #043D36 !important;
}
._1VfKB {
    color: #879298 !important;
}
._3FwEk {
    color: #879298 !important;
}
._15G96 {
    color: #879298 !important;
}
html[dir] .Zq3Mc {
    background-color: #101D25 !important;
}
html[dir] ._2zynu {
    background-color: darkslategrey !important;
}
#startup {
    background-color: #1E1E1E !important;
}
.P8cO8 {
    color: white !important;
}
._1upWv {
    color: #C6C6A5 !important;
}
html[dir=ltr] ._1i1U7._2DNgV {
    background: #054640 !important;
}
._3kN0h {
    color: white !important;
}
html[dir] ._1RQfk {
    background-color: #333333 !important;
}
._34D8D {
    color: white !important;
}
html[dir] ._3j7s9 {
    border-top: 1px solid black !important;
}
html[dir] ._36Zz0._1exov {
    background-color: #251E2A !important;
}
html[dir] ._3pRd1 {
    background-color: #1E272E !important;
}
html[dir] .JWJN5 {
    background-color: #333333 !important;
}
html[dir] ._3gUiM {
    background-color: #4A4A4A !important;
}
html[dir] ._1CnF3 {
    background-color: dimgrey !important;
}
body {
    color: white !important;
}
._1DZAH {
    color: #879298 !important;
}
._209Po {
    color: #879298 !important;
}
html[dir=ltr] ._1i1U7.jZ4tp {
    background: #101D25 !important;
}
html[dir] ._2KT8n ._2RBFb {
    background-color: lightslategray !important;
}
._2DwXW {
    color: #667178 !important;
}
html[dir] ._1drQ-, html[dir] ._1dGTK, html[dir] .r3Nu1 {
    background-color: darkslategray !important;
}
html[dir] ._3nuGo {
    background-color: darkslategray !important;
}
html[dir] ._2fq0t {
    background-color: #2D383E !important;
}
html[dir] ._1FroB {
    background-color: #054640 !important;
}
html[dir] ._1CRb5 {
    background-color: #2D383E !important;
}
._1sYdX {
    color: antiquewhite !important;
}
._3F6QL ._2S1VP {
    color: wheat !important;
}
.mOUqK {
    color: wheat !important;
}
html[dir] ._1CRb5 {
    box-shadow: 0 1px 3px ghostwhite !important;
}
.Cpiae {
    color: #A2A7AB !important;
}
html[dir] .B5rWa {
    background-color: #353D41 !important;
}
html[dir] ._1qUma {
    background-color: #4A4844 !important;
}
._2DzXb {
    color: wheat !important;
}
.GclUX {
    color: wheat !important;
}
html[dir] ._3tlsa {
    background-color: #4A4844 !important;
}
html[dir] ._2rR_l {
    background-color: #4A4844 !important;
}
html[dir] ._2vjPO {
    background-color: antiquewhite !important;
}
._2U5s1 {
    color: #251E2A !important;
}
html[dir] ._3xMAk {
    color: white !important;
}
html[dir=ltr] ._3Ye_R {
    color: white !important;
}
html[dir] ._2lwig._2nFG1 {
    background-color: #2D383E !important;
}
html[dir] .rstyJ {
    background-color: #1F1F20 !important;
}
html[dir] ._3SX5f {
    background-color: #1F1F20 !important;
}
html[dir] .gQzdc._3sdhb {
    background-color: #2D383E !important;
}
html[dir] ._1AKfk {
    background-color: #2D383E !important;
}