html[dir] ._1kdBg {
  background-color: #2f4f4f !important;
}
._2dH1A {
  color: white !important;
}
html[dir] ._1fiOp {
  background-color: #054640 !important;
}
._2wPpw {
  background-color: #2d383e !important;
}
.html[dir] ._2Bps4 {
  background-color: #2d383e !important;
}
._2y8MV {
  color: wheat !important;
}
._2FVVk ._3FRCZ {
  color: white !important;
}
._2-1_O {
  color: antiquewhite !important;
}
html[dir] ._1QUKR {
  background-color: #054640 !important;
}
html[dir] ._1BjNO {
  background-color: transparent !important;
}
._3NrAe {
  color: ghostwhite !important;
}
html[dir] ._3qx7_ {
  background-color: #1f1f1f !important;
}
.J3VFH,
._3uRXa {
  color: whitesmoke !important;
}
html[dir] ._3xpD_ {
  background-color: #7e7e7e !important;
}
html[dir] .eJ0yJ {
  background-color: #42403b !important;
}
html[dir] .eJ0yJ:hover {
  background-color: #242424 !important;
}
html[dir] ._2kHpK {
  border-top: black !important;
}
._3CneP {
  color: white !important;
}
._1582E {
  color: seashell !important;
}
.m61XR {
  color: silver !important;
}
._1EFSv {
  color: cadetblue !important;
}
.ZKn2B {
  color: cadetblue !important;
}
html[dir] .eJ0yJ._13opk {
  background-color: #242424 !important;
}
html[dir] .eJ0yJ._13opk ._2kHpK,
html[dir] .eJ0yJ._13opk:after {
  border-top-color: aquamarine !important;
}
.eJ0yJ._13opk ._1582E {
  color: aquamarine !important;
}
html[dir] ._1iFv8 {
  background-color: #202021 !important;
}
.DP7CM {
  color: white !important;
}
._3xjAz._2ruUq {
  color: seashell !important;
}
html[dir] ._2-aNW {
  background-color: transparent !important;
}
html[dir] ._3ee1T {
  background-color: #3b3b3b !important;
}
html[dir] ._3uMse {
  background-color: #2e2f2b !important;
  border-color: transparent !important;
}
html[dir] .pr5ny {
  background-color: #484848 !important;
}
html[dir] ._3R02z {
  background-color: #3e3e3e !important;
}
._3nEwM {
  color: #999999 !important;
}
.message-in ._2-dPL {
  color: #212d32 !important;
}
html[dir] .message-in ._3sKvP {
  background-color: #212d32 !important;
}
.zFnXi {
  color: darkgray !important;
}
._1myj_ {
  color: #808080 !important;
}
html[dir] .message-in ._2iML2 {
  background-color: #1e272e !important;
}
.bg-color-1 {
  background-color: #0b8f81 !important;
}
.color-1 {
  color: #238073 !important;
}
.j6ajL {
  color: #a5a5a5 !important;
}
._2et95 {
  color: white !important;
}
html[dir="ltr"] ._1q11a._2nBjH {
  background: linear-gradient(90deg, #212d32 0, #272727 50%) !important;
}
html[dir] ._4vJUr.SjSeX {
  background-color: #1e272e !important;
}
._1vUBq {
  color: white !important;
}
.NW966 {
  color: #8a9196 !important;
}
.message-out ._2-dPL {
  color: #054640 !important;
}
html[dir] .message-out ._3sKvP {
  background-color: #054640 !important;
}
html[dir] ._4G2pt .r9_f4 {
  background-color: #043d36 !important;
}
._2kV_M {
  color: #7da9aa !important;
}
.VGBA3 {
  color: #7da9aa !important;
}
._1qPwk {
  color: #0098ee !important;
}
.bg-color-1 {
  background-color: #099180 !important;
}
html[dir] .message-out ._2iML2 {
  background-color: #043d36 !important;
}
.Vts9M {
  color: #7da9aa !important;
}
._3otir {
  color: #999999 !important;
}
._2mpex {
  color: #7da9aa !important;
}
html[dir] ._3AAXj.SjSeX {
  background-color: #043d36 !important;
}
html[dir="ltr"] ._1q11a._4tndQ {
  background: linear-gradient(90deg, #054640 0, #043d36 50%) !important;
}
html[dir="ltr"] ._1oarY._2nBjH {
  background: linear-gradient(90deg, #212d32 0, #272727 50%) !important;
}
html[dir] ._2s_eZ {
  background-color: #282828 !important;
}
.n-CQr {
  color: white !important;
}
html[dir] ._36Osw._39Nmx {
  background-color: #5b5c5c !important;
}
/*._1N-3y.eP_pD._39Nmx._36Osw {
    background-color: #5B5C5C !important;
}*/
html[dir] ._1E1g0 {
  background-color: #333333 !important;
}
html[dir] ._2TZYF {
  background-color: #242424 !important;
}
._2TZYF ._1D7Lo {
  color: whitesmoke !important;
}
html[dir] ._2hjoV {
  background-color: #333333 !important;
}
html[dir] ._2Bps4 {
  background-color: #272727 !important;
}
.YZNwM {
  color: white !important;
}
._1X4JR {
  color: white !important;
}
html[dir] ._3ZqlX {
  background-color: hsla(0, 0%, 28%, 0.85) !important;
}
html[dir] .G_MLO {
  background-color: #272727 !important;
}
body {
  color: white !important;
}
.S7_rT._1hQZ_:hover {
  background-color: #454545 !important;
}
html[dir] ._3wAoe {
  background-color: #3c3c3c !important;
}
._3wAoe:hover {
  background-color: #262626 !important;
}
html[dir] ._2kf8f {
  background-color: hsla(0, 0%, 28%, 0.95) !important;
}
html[dir] ._21ltg {
  background-color: hsla(0, 0%, 28%, 0.95) !important;
}
._35JSR {
  color: whitesmoke !important;
}
html[dir] ._1YcH- {
  background-color: #333333 !important;
}
.eRacY strong {
  color: whitesmoke !important;
}
.NRCvf {
  color: wheat !important;
}
#startup {
  background-color: #1e1e1e !important;
}
html[dir] ._3eShu {
  background-color: #2d2d2d !important;
}
._--7_r {
  color: whitesmoke !important;
}
._2RAgj {
  color: papayawhip !important;
}
html[dir] .LR5wt {
  background-color: #484848 !important;
}
html[dir] ._2dByE {
  background-color: #272727 !important;
}
html[dir] ._1qTcI {
  background-color: #2e2f2b !important;
}
.tLOLM {
  color: white !important;
}
._3O99L {
  color: white !important;
}
html[dir] ._1bUqW {
  background-color: #272727 !important;
}
html[dir] .ooH2q {
  background-color: #272727 !important;
}
html[dir] ._2_F5S {
  background-color: #272727 !important;
}
html[dir] ._20A_P {
  background-color: #464646 !important;
}
._1JGAF {
  color: #c0c0c0 !important;
}
._3p_k1 {
  color: #c0c0c0 !important;
}
html[dir] ._2I2_W ._3s_mK {
  background-color: #484848 !important;
}
html[dir] .D-CMr._1t3gq {
  background-color: #1e272e !important;
}
._31IpW {
  color: white !important;
}
._2-qE- {
  color: ghostwhite !important;
}
._3oaWt {
  color: #999999 !important;
}
html[dir] ._36Lgj {
  background-color: #1e272e !important;
}
html[dir] ._2VC-w {
  background-color: #1e272e !important;
}
html[dir="ltr"] ._1WWP0 {
  border-left-color: #1f1f20 !important;
}
html[dir] ._1Ar0V._1t3gq {
  background-color: #043d36 !important;
}
._2RFeE {
  color: #0098ee !important;
}
html[dir] .aGjYp._1oeQS {
  background-color: #1a1a1a !important;
}
._32BC_ {
  color: whitesmoke !important;
}
.NRCvf {
  color: wheat !important;
}
html[dir] ._3ge3i {
  background-color: #1e1e1f !important;
}
._3ge3i {
  color: whitesmoke !important;
}
/*._27lSL {
  background-image: url("https://i.ibb.co/wJtJjFB/crop.jpg") !important;
}*/
html[dir] ._2WG1s {
  background-color: dimgray !important;
}
.NRCvf._3ko75.FdF4z._3Whw5 {
    color: wheat !important;
}
.NRCvf._3ko75._3Whw5 {
    color: wheat !important;
}
html[dir] .iBZ7z {
    background-color: #272727 !important;
}
html[dir] ._9WQEN {
    background-color: hsla(0, 0%, 28%, 0.85) !important;
}
._9WQEN {
    color: papayawhip !important;
}
.matched-mention .at-symbol {
    color: #039be5 !important;
}